* {
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none !important;
}


.header {
    box-shadow: 0px 3px 6px rgb(0 0 0 / 7%);
    padding: 8px 0;
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 999;
    transition: .5s;
}

.navbar-collapse {
    flex-grow: unset !important;
}

.header .nav-list .link.active {
    background-color: transparent;
    color: #1dbf73;
    position: relative;
}

.header .nav-list .link {
    color: #505050;
}

.header .nav-list .link {
    flex-direction: column;
    padding-bottom: 0;
    padding-top: 0;
}

.header .nav-list .link {
    display: flex;
    align-items: center;
    padding: 13px 7px;
    margin: 0 5px;
    font-size: 14px;

    border-radius: 6px;
    background-color: transparent;
}

.header .nav-list .link:hover {
    background-color: transparent;
    color: #1dbf73;
}

.user-drops .user img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.user-drops .user {
    width: 38px;
    height: 38px;
    border: 2px solid #1dbf73;
    padding: 2px;
    border-radius: 50%;
}

.user-drops .inner.user-drop {
    width: 263px;
}

.user-drops .inner {
    background: #fff;
    filter: drop-shadow(0px 0px 7px rgba(0, 0, 0, 0.14));
    padding: 4px;
    border-radius: 5px;
    /* width: 329px; */
    text-align: start;
}

.user-drops .inner .profile {
    padding: 12px;
    border-radius: 8px;
    background-color: #f8f8f8;
    display: flex;
    align-items: center;
    margin-bottom: 4px;
}

.user-drops .inner .profile .profile-img {
    width: 38px;
    height: 38px;
    border: 2px solid #1dbf73;
    padding: 2px;
    border-radius: 50%;
    margin-right: 10px;
}

.user-drops .inner .profile .profile-img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.user-drops .inner .profile .name {
    font-size: 14px;
    font-weight: 700;
    color: #262626;
    display: block;
    line-height: 1;
}

.user-drops .dropdown-menu {
    background-color: transparent;
    border: 0;
}

.user-drops .inner .profile .desc {
    font-size: 13px;
    color: #707070;
    line-height: 1;
}

.user-drops .inner .link {
    display: flex;
    align-items: center;
    padding: 8px;
    font-size: 16px;
    color: #707070;
    border-radius: 8px;
}

.dropdown-menu .link:hover {
    background-color: transparent;
    color: #1dbf73;
}
.breadcrumb-item {
    color: #8692A6;
}

.form-check-input:checked {
    background-color: #1dbf73 !important;
    border-color: #1dbf73 !important;
}

.rate-sec {
    color: #696F79;
    font-size: 12px;
}

.btn-gray {
    background-color: #F6F6F6;
    padding: 5px 8px;
    border-radius: 7px;
    font-size: 24px;
    
}

.star-gold {
    color: #FFCB31;
}
.icon-info {
    color: #696F79;
}

.gray-color {
    color: #C3C5C8;
}

.main-color {
    color: #1DBF73;
}
.info-title {
    font-weight: 500;
    font-size: 14px;
    color: black;
}
.bi-linkedin{
    color: #2867B2;
    font-size: 50px;
}
.bi-facebook{
    color: #1877F2;
    font-size: 50px;
}
.bi-whatsapp{
    color: #25D366;
    font-size: 50px;
}
.bi-twitter{
    color: #1DA1F2;
    font-size: 50px;
}
.title-service {
    font-size: 12px;
    font-weight: 600;

}

.head-line {
    color: black;
    font-size: 24px;
    font-weight: 600;
}

.bg-light-green {
    background-color: #E9F9F1;
    color: #1DBF73;
    padding: 3px 5px;
    font-size: 16px;
    font-weight: 500;
}

.cursor {
    cursor: pointer;
}

.card-info a {
    color: inherit;
    text-decoration: none;
}

.user-name a {
    color: black;
    font-size: large;
    font-weight: bold;
}

.user-name i {
    color: #1DBF73;
}

.bt-card {
    color: white;
    background-color: #1DBF73;
    border: initial;
}

.btn-success-2 {
    background-color: #1DBF73;
    border-radius: 10px;
    color: white;
    padding: 8px 35px;
    border: 0;
    font-size: 16px;
    font-weight: 500;
}

.service-rating {
    font-size: 16px;
    font-weight: 500;
    color: black;
}

.num-rating {
    font-size: 14px;
    font-weight: 500;
}

.row .col-1 .img {
    width: 49px;
    height: 49px;
    border-radius: 50%;
    overflow: hidden;
    display: block;
}

.review-name {
    font-size: 14px;
    font-weight: 700;
}

.review-time {
    color: #8692A6;
    font-size: 14px;
}

.review-content {
    font-size: 14px;
    color: #333333;
}

.btn-see-more {
    font-size: 18px;
    font-weight: 400;
    color: #C3C5C8;
}

.service-title {
    color: black;
    font-size: 16px;
    font-weight: 600;
}

.card-foot {
    padding: 10px 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    /* border-top: 1px solid #f3f3f3; */
}

.card-foot .owner {
    display: flex;
    align-items: center;
    font-size: 8px;
    height: 45px;
    width: 60%;
}

.heart-icon {
    background-color: white;
    padding: 2px 5px 0px 6px;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    left: 5px;
    font-size: 24px;
    color: #8692A6;
    cursor: pointer;
    /* color: rgb(243, 84, 84); */
}

.card-foot .owner .img {
    position: relative;
    width: 25px;
    height: 25px;
    display: block;
    overflow: hidden;
    border-radius: 50%;
}

.card-foot .owner .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.owner-name h6 {
    color: black;
    font-size: 12;
    font-weight: 600;
}